<main id="content">
    <section class="pt-9">
        <div class="container">
            <h2 class="text-center mb-6" data-animate="fadeInUp">Hãy liên hệ với chúng tôi</h2>
            <p class="text-center mb-9 mx-auto fs-18" style="max-width: 590px" data-animate="fadeInUp">Để được tư vấn và nhận những ưu đãi về mỹ phẩm</p>
            <div class="row">
                <div class="col-md-4 mb-md-0 mb-8" data-animate="fadeInUp">
                    <div class="media">
                        <div class="icon pr-lg-6 pr-5">
                            <i class="fas fa-map-marker-alt" style="font-size: 35px;"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="fs-20 mb-3">Địa chỉ</h3>
                            <p [innerHtml]="contactSettings[0].content"></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-md-0 mb-8" data-animate="fadeInUp">
                    <div class="media">
                        <div class="icon pr-lg-6 pr-5">
                            <i class="fas fa-phone-volume" style="font-size: 35px;"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="fs-20 mb-3">Số điện thoại</h3>
                            <p [innerHtml]="contactSettings[1].content"></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-md-0 mb-8" data-animate="fadeInUp">
                    <div class="media">
                        <div class="icon pr-lg-6 pr-5">
                            <i class="far fa-envelope" style="font-size: 35px;"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="fs-20 mb-3">Email</h3>
                            <p [innerHtml]="contactSettings[2].content"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="pt-md-11 pt-6 pt-lg-13">
        <div class="container">
            <div [innerHtml]="contactSettings[3].content | safeHtml"></div>
        </div>
    </section>
    <section class="pt-lg-12 pb-lg-13 pt-10 pb-11 text-center mx-auto" style="max-width: 750px">
        <div class="container">
            <h2 class="fs-34 lh-129 mb-7" data-animate="fadeInUp">Gửi tin nhắn</h2>
            <form data-animate="fadeInUp" [formGroup]="form">
                <div class="row mb-6">
                    <div class="col-sm-6 mb-6 mb-sm-0">
                        <input type="text" class="form-control border-0" placeholder="Tên *" formControlName="name">
                        <div *ngIf="form.controls.name.invalid && submitted">
                            <div *ngIf="form.controls.name.errors?.['required']">
                                <small class="text-danger">Tên là bắt buộc</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <input type="email" class="form-control border-0" placeholder="Email *" formControlName="email">
                        <div *ngIf="form.controls.email.invalid && submitted">
                            <div *ngIf="form.controls.email.errors?.['required']">
                                <small class="text-danger">Email là bắt buộc</small>
                            </div>
                        </div>
                        <div *ngIf="form.controls.email.invalid && submitted">
                            <div *ngIf="form.controls.email.errors?.['email']">
                                <small class="text-danger">Email không đúng định dạng</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group mb-4">
                    <textarea class="form-control border-0" rows="6" placeholder="Nội dung *" formControlName="content"></textarea>
                    <div *ngIf="form.controls.content.invalid && submitted">
                        <div *ngIf="form.controls.content.errors?.['required']">
                            <small class="text-danger">Nội dung là bắt buộc</small>
                        </div>
                    </div>
                </div>
                <div class="text-success">
                    {{successMessage}}
                </div>
                <div class="text-danger">
                    {{errorMessage}}
                </div>
                <button type="button"
                    class="btn btn-secondary bg-hover-primary border-hover-primary px-7" (click)="sendMessage()">Gửi</button>
            </form>
        </div>
    </section>
</main>