<header class="main-header navbar-light header-sticky header-sticky-smart">
    <div class="sticky-area bg-white">
        <div class="container container-xxl">
            <nav class="navbar navbar-expand-xl px-0 d-block">
                <div class="d-none d-xl-block">
                    <div class="d-flex align-items-center flex-nowrap">
                        <div class="w-50">
                            <ul class="navbar-nav hover-menu main-menu px-0 mx-xl-n5">
                                <li aria-haspopup="true" aria-expanded="false"
                                    class="nav-item dropdown-item-home dropdown py-2 py-xl-7 sticky-py-xl-6 px-0 px-xl-5">
                                    <a class="nav-link p-0" href="/">
                                        Trang chủ
                                        <span class="caret"></span>
                                    </a>
                                </li>
                                <li aria-haspopup="true" aria-expanded="false"
                                    class="nav-item dropdown-item-home dropdown py-2 py-xl-7 sticky-py-xl-6 px-0 px-xl-5">
                                    <a class="nav-link p-0" href="/cua-hang">
                                        Cửa hàng
                                        <span class="caret"></span>
                                    </a>
                                </li>
                                <li aria-haspopup="true" aria-expanded="false"
                                    class="nav-item dropdown-item-home dropdown py-2 py-xl-7 sticky-py-xl-6 px-0 px-xl-5">
                                    <a class="nav-link p-0" href="/gioi-thieu">
                                        Giới thiệu
                                        <span class="caret"></span>
                                    </a>
                                </li>
                                <li aria-haspopup="true" aria-expanded="false"
                                    class="nav-item dropdown-item-home dropdown py-2 py-xl-7 sticky-py-xl-6 px-0 px-xl-5">
                                    <a class="nav-link p-0" href="/lien-he">
                                        Liên hệ
                                        <span class="caret"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="mx-auto flex-shrink-0 px-10">
                            <div class="d-flex mt-3 mt-xl-0 align-items-center w-100 justify-content-center">
                                <a class="navbar-brand mx-auto d-inline-block py-0" href="/">
                                    <img src="../../../../assets/images/logo.png" alt="VNBeauty">
                                </a>
                            </div>
                        </div>
                        <div class="w-50">
                            <div class="d-flex align-items-center justify-content-end">
                                <a href="#search-popup" data-gtf-mfp="true"
                                    data-mfp-options='{"type":"inline","focus": "#keyword","mainClass": "mfp-search-form mfp-move-from-top mfp-align-top"}'
                                    class="nav-search d-flex align-items-center pr-3">
                                    <svg class="icon icon-magnifying-glass-light fs-28">
                                        <use xlink:href="#icon-magnifying-glass-light"></use>
                                    </svg>
                                </a>
                                <ul
                                    class="navbar-nav flex-row justify-content-xl-end d-flex flex-wrap text-body py-0 navbar-right">
                                    <li class="nav-item">
                                        <a class="nav-link pr-3 py-0" href="#" data-toggle="modal"
                                            data-target="#sign-in">
                                            <svg class="icon icon-user-light">
                                                <use xlink:href="#icon-user-light"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link position-relative px-4 py-0" href="wishlist.html">
                                            <svg class="icon icon-star-light">
                                                <use xlink:href="#icon-star-light"></use>
                                            </svg>
                                            <span class="position-absolute number">0</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link position-relative px-4 menu-cart py-0 d-inline-flex align-items-center mr-n2"
                                            href="#" data-canvas="true"
                                            data-canvas-options='{"container":".cart-canvas"}'>
                                            <span class="mr-2 font-weight-bold fs-15">$0.00</span>
                                            <svg class="icon icon-shopping-bag-open-light">
                                                <use xlink:href="#icon-shopping-bag-open-light"></use>
                                            </svg>
                                            <span class="position-absolute number">0</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-center d-xl-none">
                    <button class="navbar-toggler border-0 px-0 canvas-toggle" type="button" data-canvas="true"
                        data-canvas-options='{"width":"250px","container":".sidenav"}'>
                        <span class="fs-24 toggle-icon"></span>
                    </button>
                    <div class="mx-auto"><a class="navbar-brand d-inline-block mr-0 py-5" href="index-2.html">
                            <img src="../../../../assets/images/logo.png" alt="VNBeauty">
                        </a></div>
                    <a href="#search-popup" data-gtf-mfp="true"
                        data-mfp-options='{"type":"inline","focus": "#keyword","mainClass": "mfp-search-form mfp-move-from-top mfp-align-top"}'
                        class="nav-search d-flex align-items-center">
                        <svg class="icon icon-magnifying-glass-light fs-28">
                            <use xlink:href="#icon-magnifying-glass-light"></use>
                        </svg>
                        <span class="d-none d-xl-inline-block ml-2 font-weight-500">Search</span></a>
                </div>
            </nav>
        </div>
    </div>
</header>