<div class="mfp-hide search-popup mfp-with-anim" id="search-popup">
    <form (keydown.enter)="$event.preventDefault()">
        <div class="input-group position-relative">
            <input #seachInput type="text" id="keyword" name="keyword"
                class="form-control border-0 border-bottom border-2x bg-transparent text-white border-white fs-24 form-control-lg"
                placeholder="Tìm kiếm..." (keyup.enter)="search(seachInput.value)" autocomplete="off">
            <div class="input-group-append position-absolute pos-fixed-right-center">
                <button style="cursor: pointer !important;" class="input-group-text bg-transparent border-0 text-white fs-30 px-0 btn-lg"
                    type="button" (click)="search(seachInput.value)"><i class="far fa-search"></i></button>
            </div>
        </div>
    </form>
</div>