<main id="content">
    <section class="py-11 pb-lg-13">
        <div class="container">
            <section class="pb-3">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <h2 class="mb-2 fs-34 text-center">
                            {{blog.title}}
                        </h2>
                        <ul class="list-inline lh-1 d-flex align-items-center justify-content-center mb-8 flex-wrap">
                            <li class="list-inline-item pr-3 border-right border-2x">{{blog.blog_category.name}}</li>
                            <li class="list-inline-item pr-3">{{blog.created_at|date:'dd/MM/yyyy hh:mm a'}}</li>
                            <li class="list-inline-item pr-1"><span class="rounded-circle d-block"
                                    style="width: 4px; height: 4px;background-color: #C4C4C4"></span>
                            </li>
                            <li class="list-inline-item pr-1">{{blog.view_count}} lượt xem</li>
                        </ul>
                        <div [innerHTML]="blog.content"></div>
                    </div>
                </div>
            </section>
        </div>
    </section>
</main>