<main id="content">
    <section class="pt-11 pb-9 pb-lg-10 product-details-layout-1">
        <div class="container">
            <div class="row">
                <div class="col-md-6 pr-xl-9 mb-8 mb-md-0">
                    <div class="galleries-product galleries-product-01 position-relative d-flex ">
                        <div class="slick-slider slider-for mx-0 pl-xl-5 s-product-image-1"
                            data-slick-options='{"slidesToShow": 1,"vertical":true, "autoplay":false,"dots":false,"arrows":false,"asNavFor": ".slider-nav","responsive":[{"breakpoint": 1200,"settings": {"vertical": false}}]}'>
                            <div class="box px-0">
                                <div class="card p-0 rounded-0 border-0">
                                    <a [href]="url + product.image_path" class="card-img" data-gtf-mfp="true"
                                        data-gallery-id="02">
                                        <img [src]="url + product.image_path" [alt]="product.image_name" class="w-100">
                                    </a>
                                </div>
                            </div>

                            <div class="box px-0" *ngFor="let productImage of product.product_images">
                                <div class="card p-0 rounded-0 border-0">
                                    <a [href]="url + productImage.image_path" class="card-img" data-gtf-mfp="true"
                                        data-gallery-id="02">
                                        <img [src]="url + productImage.image_path" [alt]="productImage.image_name"
                                            class="w-100">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="slick-slider slider-nav mx-n1 mx-xl-0 s-product-image-2"
                            data-slick-options='{"slidesToShow": 4,"vertical":true, "autoplay":false,"dots":false,"arrows":false,"asNavFor": ".slider-for","focusOnSelect": true,"responsive":[{"breakpoint": 1200,"settings": {"vertical": false}}]}'>
                            <div class="box px-1 px-xl-0 py-4 pt-xl-0">
                                <img [src]="url + product.image_path" class="w-100" [alt]="product.image_name">
                            </div>
                            <div class="box px-1 px-xl-0 py-4 pt-xl-0"
                                *ngFor="let productImage of product.product_images">
                                <img [src]="url + productImage.image_path" class="w-100"
                                    [alt]="productImage.image_name">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <p class="d-flex align-items-center mb-3">
                        <span class="fs-18 text-secondary font-weight-bold ml-3">{{product.option_price | number}}
                            đ</span>
                    </p>
                    <h2 class="fs-24 mb-2">{{product.name}}</h2>
                    <div class="d-flex align-items-center flex-wrap mb-3 lh-12">
                        <a href="javascript:void(0)" class="pl-3 border-left border-gray-2 text-body">{{product.view_count}} lượt xem</a>
                    </div>
                    <p class="mb-5" [innerHTML]="product.short_description"></p>
                    <form>
                        <p class="text-secondary font-weight-600 mb-3">Chọn kích thước: </p>
                        <div class="custom-control custom-radio mb-2">
                            <input type="radio" id="product_id_{{product.id}}" name="product_option" class="custom-control-input" checked>
                            <label class="custom-control-label custom-control-label-secondary" for="product_id_{{product.id}}">
                                {{product.option_name}} - <span class="font-weight-bold">{{product.option_price}} đ</span>
                            </label>
                        </div>

                        <div class="custom-control custom-radio mb-2"
                            *ngFor="let productOption of product.product_options">
                            <input type="radio" id="product_option_id_{{productOption.id}}" name="product_option" class="custom-control-input">
                            <label class="custom-control-label custom-control-label-secondary" for="product_option_id_{{productOption.id}}">
                                {{productOption.name}} - <span class="font-weight-bold">{{productOption.price}} đ</span>
                            </label>
                        </div>
                        <div class="row align-items-end no-gutters mx-n2">
                            <div class="col-sm-4 form-group px-2 mb-5">
                                <label class="text-secondary font-weight-600 mb-3" for="number">Số lượng: </label>
                                <div class="input-group position-relative w-100">
                                    <a href="javascript:void(0)"
                                        class="down position-absolute pos-fixed-left-center pl-4 z-index-2"><i
                                            class="far fa-minus"></i></a>
                                    <input name="number" type="number" id="number"
                                        class="form-control w-100 px-6 text-center input-quality text-secondary h-60 fs-18 font-weight-bold border-0"
                                        value="1" required>
                                    <a href="javascript:void(0)"
                                        class="up position-absolute pos-fixed-right-center pr-4 z-index-2"><i
                                            class="far fa-plus"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-8 mb-5 w-100 px-2">
                                <button type="submit"
                                    class="btn btn-lg fs-18 btn-secondary btn-block h-60 bg-hover-primary border-0">Thêm vào giỏ hàng
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section class="pt-10 pt-lg-12 pb-10 pb-md-6 pb-lg-11 border-top">
        <div class="container">
            <div class="collapse-tabs">
                <ul class="nav nav-pills mb-5 justify-content-center d-md-flex d-none" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active show fs-lg-34 fs-24 lh-129 font-weight-600 p-0 mr-md-10 mr-4"
                            id="product-detail-tab" data-toggle="pill" href="#product-detail" role="tab"
                            aria-controls="product-detail" aria-selected="false">Chi tiết</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fs-lg-34 fs-24 lh-129 font-weight-600 p-0 mr-md-10 mr-4"
                            id="product-how-to-use-tab" data-toggle="pill" href="#product-how-to-use" role="tab"
                            aria-controls="product-how-to-use" aria-selected="false">Cách sử dụng</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fs-lg-34 fs-24 lh-129 font-weight-600 p-0" id="ingredients-tab"
                            data-toggle="pill" href="#ingredients" role="tab" aria-controls="ingredients"
                            aria-selected="true">Thành phần</a>
                    </li>
                </ul>
                <div class="tab-content bg-white-md shadow-none py-md-5 p-0">
                    <div id="collapse-tabs-accordion-01">
                        <div class="tab-pane tab-pane-parent fade show active" id="product-detail" role="tabpanel">
                            <div class="card border-0 bg-transparent">
                                <div class="card-header border-0 d-block d-md-none bg-transparent px-0 py-1"
                                    id="headingDetails-01">
                                    <h5 class="mb-0">
                                        <button
                                            class="btn lh-2 fs-18 py-1 px-6 shadow-none w-100 collapse-parent border text-primary"
                                            data-toggle="false" data-target="#detail-collapse-01" aria-expanded="true"
                                            aria-controls="detail-collapse-01">
                                            Product Detail
                                        </button>
                                    </h5>
                                </div>
                                <div id="detail-collapse-01" class="collapsible collapse show"
                                    aria-labelledby="headingDetails-01" data-parent="#collapse-tabs-accordion-01"
                                    style="">
                                    <div id="accordion-style-01"
                                        class="accordion accordion-01 border-md-0 border p-md-0 p-6">
                                        <div class="row">
                                            <div class="col-lg-6 mb-lg-0 mb-7">
                                                <div class="hover-shine pr-xl-13">
                                                    <img src="../../../assets/images/single-product-05.jpg" alt="">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <span [innerHTML]="product.product_detail"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane tab-pane-parent fade" id="product-how-to-use" role="tabpanel">
                            <div class="card border-0 bg-transparent">
                                <div class="card-header border-0 d-block d-md-none bg-transparent px-0 py-1"
                                    id="headinghow-to-use-01">
                                    <h5 class="mb-0">
                                        <button
                                            class="btn lh-2 fs-18 py-1 px-6 shadow-none w-100 collapse-parent border collapsed text-primary"
                                            data-toggle="collapse" data-target="#how-to-use-collapse-01"
                                            aria-expanded="false" aria-controls="how-to-use-collapse-01">
                                            How To Use
                                        </button>
                                    </h5>
                                </div>
                                <div id="how-to-use-collapse-01" class="collapsible collapse"
                                    aria-labelledby="headinghow-to-use-01" data-parent="#collapse-tabs-accordion-01"
                                    style="">
                                    <div id="accordion-style-01-2"
                                        class="accordion accordion-01 border-md-0 border p-md-0 p-6 ">
                                        <span [innerHTML]="product.how_to_use"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane tab-pane-parent fade" id="ingredients" role="tabpanel">
                            <div class="card border-0 bg-transparent">
                                <div class="card-header border-0 d-block d-md-none bg-transparent px-0 py-1"
                                    id="headingingredients-01">
                                    <h5 class="mb-0">
                                        <button
                                            class="btn lh-2 fs-18 py-1 px-6 shadow-none w-100 collapse-parent border collapsed text-primary"
                                            data-toggle="collapse" data-target="#ingredients-collapse-01"
                                            aria-expanded="false" aria-controls="ingredients-collapse-01">
                                            Ingredients
                                        </button>
                                    </h5>
                                </div>
                                <div id="ingredients-collapse-01" class="collapsible collapse"
                                    aria-labelledby="headingingredients-01" data-parent="#collapse-tabs-accordion-01"
                                    style="">
                                    <div id="accordion-style-01-3"
                                        class="accordion accordion-01 border-md-0 border p-md-0 p-6">
                                        <span [innerHTML]="product.ingredients"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>