<main id="content">
    <section>
        <div class="container container-xl">
            <h2 class="text-center mt-9 mb-8">Mời bạn xem các mỹ phẩm</h2>
            <div class="d-flex justify-content-between align-items-center flex-wrap">
                <p class="fs-18 font-weight-500 my-lg-0 my-2" style="color: #696969;">Đang có <strong
                        class="font-weight-bold text-secondary">{{totalResult}}</strong>
                    mỹ phẩm</p>
                <div class="d-flex align-items-center">
                    <div class="d-lg-flex align-items-center d-none">
                        <button class="btn btn-dark" (click)="restShop()">
                            <i class="fas fa-ban"></i>
                        </button>
                    </div>
                    <div class="dropdown show lh-1 rounded ml-lg-5 ml-0" style="background-color:#f5f5f5">
                        <a href="#"
                            class="dropdown-toggle custom-dropdown-toggle text-decoration-none text-secondary p-3 mw-210 position-relative d-block"
                            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span *ngIf="sortByPriceType == 0">Mặc định</span>
                            <span *ngIf="sortByPriceType == 1">Giá: Thấp đến Cao</span>
                            <span *ngIf="sortByPriceType == 2">Giá: Cao đến Thấp</span>
                        </a>
                        <div class="dropdown-menu custom-dropdown-item" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="javascript:void(0)" (click)="sortByPrice(0)">Mặc định</a>
                            <a class="dropdown-item" href="javascript:void(0)" (click)="sortByPrice(1)">Giá: Thấp đến Cao</a>
                            <a class="dropdown-item" href="javascript:void(0)" (click)="sortByPrice(2)">Giá: Cao đến Thấp</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="mt-7 pb-11 pb-lg-13">
        <div class="container container-xl">
            <div class="row">
                <div class="col-lg-3 primary-sidebar sidebar-sticky pr-lg-8 d-lg-block d-none" id="sidebar">
                    <div class="primary-sidebar-inner">
                        <div class="card border-0 mb-6">
                            <div class="card-header bg-transparent border-0 p-0">
                                <h4 class="card-title fs-20 mb-3">Danh mục</h4>
                            </div>
                            <div class="card-body p-0">
                                <ul class="list-unstyled mb-0">
                                    <li class="mb-2" *ngFor="let productCategory of productCategories">
                                        <a href="javascript:void(0)"
                                            class="text-uppercase fs-14 letter-spacing-005 font-weight-600 text-body hover-secondary text-decoration-none" style="font-weight: bold; color: black !important;" *ngIf="product_category_id == productCategory.id" (click)="filterByCategory(productCategory.id)">{{productCategory.name}} ({{productCategory.productCount}})</a>

                                            <a href="javascript:void(0)"
                                            class="text-uppercase fs-14 letter-spacing-005 font-weight-600 text-body hover-secondary text-decoration-none" *ngIf="product_category_id != productCategory.id" (click)="filterByCategory(productCategory.id)">{{productCategory.name}} ({{productCategory.productCount}})</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="card border-0 mb-6">
                            <div class="card-header bg-transparent border-0 p-0">
                                <h4 class="card-title fs-20 mb-3">Thương hiệu</h4>
                            </div>
                            <div class="card-body p-0">
                                <ul class="list-unstyled mb-0">
                                    <li class="mb-2" *ngFor="let productBrand of productBrands">
                                        <a href="javascript:void(0)" class="text-body hover-secondary" style="font-weight: bold; color: black !important;" *ngIf="product_brand_id == productBrand.id" (click)="filterByBrand(productBrand.id)">
                                            {{productBrand.name}} ({{productBrand.productCount}})
                                        </a>

                                        <a href="javascript:void(0)" class="text-body hover-secondary" *ngIf="product_brand_id != productBrand.id" (click)="filterByBrand(productBrand.id)">
                                            {{productBrand.name}} ({{productBrand.productCount}})
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-6" *ngFor="let product of products">
                            <div class="card border-0 product mb-6" data-animate="fadeInUp">
                                <div class="position-relative">
                                    <a routerLink="/san-pham/{{product.url}}">
                                        <img [src]="url + product.image_path" [alt]="product.image_name">
                                        <div class="card-img-overlay d-flex p-3">
                                            <div>
                                                <span class="badge badge-primary">{{product.product_category.name}}</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="card-body pt-4 text-center">
                                    <h2 class="card-title fs-15 font-weight-500 mb-2">{{product.option_price |
                                        number}}đ</h2>
                                    <p class="card-text font-weight-bold fs-16 mb-1 text-secondary">
                                        <a routerLink="/san-pham/{{product.url}}">{{product.name}}</a>
                                    </p>
                                    <div class="d-flex align-items-center justify-content-center flex-wrap">
                                        <span class="card-text fs-14 font-weight-400 pl-2 lh-1">{{product.view_count}} lượt
                                            xem</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pt-3">
                        <p-paginator [rows]="perPage" [totalRecords]="totalResult" [rowsPerPageOptions]="[12,24,36]" (onPageChange)="paginate($event)"></p-paginator>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>