<main id="content">
    <section class="pb-11 pb-lg-13 mt-5">
        <div class="container">
            <form class="table-responsive-md pb-8 pb-lg-10">
                <table class="table border">
                    <thead style="background-color: #F5F5F5">
                        <tr class="fs-15 letter-spacing-01 font-weight-600 text-uppercase text-secondary">
                            <th scope="col" class="border-1x pl-7">Mỹ phẩm</th>
                            <th scope="col" class="border-1x">Số lượng</th>
                            <th colspan="2" class="border-1x">Giá</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="position-relative" *ngFor="let item of cart">
                            <th scope="row" class="w-xl-695 pl-xl-5 py-4">
                                <div class="media align-items-center">
                                    <div class="ml-3 mr-4">
                                        <img [src]="url + item.image_path" [alt]="item.image_name"
                                            class="mw-75px">
                                    </div>
                                    <div class="media-body w-128px">
                                        <p class="font-weight-500 mb-1 text-secondary">{{item.product_name}}</p>
                                        <p class="card-text font-weight-bold fs-14 mb-1 text-secondary">
                                            <span>{{item.option_name}} - {{item.option_price | number}}đ</span>
                                        </p>
                                    </div>
                                </div>
                            </th>
                            <td class="align-middle">
                                <div class="input-group position-relative w-128px">
                                    <a href="javascript:void(0)" class="down position-absolute pos-fixed-left-center pl-2 z-index-2"><i
                                            class="far fa-minus" (click)="minusItem(item.id)"></i></a>
                                    <input name="number[]" type="number"
                                        class="form-control form-control-sm px-6 fs-16 text-center input-quality border-0 h-35px"
                                        [value]="item.quantity" [id]="'quantityInput' + item.id" #quantityInput (change)="changeQuantity(quantityInput.value, item.id)">
                                    <a href="javascript:void(0)" class="up position-absolute pos-fixed-right-center pr-2 z-index-2"><i
                                            class="far fa-plus" (click)="plusItem(item.id)"></i>
                                    </a>
                                </div>
                            </td>
                            <td class="align-middle">
                                <p class="mb-0 text-secondary font-weight-bold mr-xl-11">{{item.option_price * item.quantity | number}}đ</p>
                            </td>
                            <td class="align-middle text-right pr-5"><a href="javascript:void(0)" class="d-block"><i
                                        class="fal fa-times text-body" (click)="removeItem(item.id)"></i></a></td>
                        </tr>
                        <tr>
                            <td class="pb-6 pl-0 position-relative bg-white" style="left: -1px">
                                <a routerLink="/cua-hang" value="Tiếp tục mua sắm"
                                    class="btn btn-outline-secondary border-2x border mr-5 border-hover-secondary my-3">
                                    Tiếp tục mua sắm
                                </a>
                                <!-- <button type="submit" value="Clear Shopping Cart"
                                    class="btn btn-link p-0 border-0 border-bottom border-secondary rounded-0 my-3"><i
                                        class="fal fa-times mr-2 text-secondary"></i>Clear Shopping Cart
                                </button> -->
                            </td>
                            <td colspan="3" class="text-right pb-6 pr-0 position-relative bg-white" style="right: -2px">
                                <!-- <button type="submit" value="Update Cart"
                                    class="btn btn-outline-secondary border-2x border border-hover-secondary my-3">Update
                                    Cart
                                </button> -->
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
            <div class="row">
                <div class="col-lg-4 pt-lg-0 pt-11">
                    <div class="card border-0" style="box-shadow: 0 0 10px 0 rgba(0,0,0,0.1)">
                        <!-- <div class="card-body px-6 pt-5">
                            <div class="d-flex align-items-center mb-2">
                                <span>Subtotal:</span>
                                <span class="d-block ml-auto text-secondary font-weight-bold">$99.00</span>
                            </div>
                            <div class="d-flex align-items-center">
                                <span>Shipping:</span>
                                <span class="d-block ml-auto text-secondary font-weight-bold">$0</span>
                            </div>
                        </div> -->
                        <div class="card-footer bg-transparent px-0 pb-4 mx-6">
                            <div class="d-flex align-items-center font-weight-bold mb-3">
                                <span class="text-secondary">Tổng tiền:</span>
                                <span class="d-block ml-auto text-secondary fs-24 font-weight-bold">{{totalPrice | number}}đ</span>
                            </div>
                            <a *ngIf="totalPrice > 0" routerLink="/dat-hang"
                                class="btn btn-secondary btn-block bg-hover-primary border-hover-primary"
                                value="Check Out">Đặt hàng
                            </a>

                            <a *ngIf="totalPrice <= 0"
                                class="btn btn-secondary btn-block bg-hover-primary border-hover-primary"
                                value="Check Out">Đặt hàng
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>